h1 {
    color: #4c4c4c;  
}
h2 {
  font-size: 24px;
}
p {
    color: #979797;
}
.navBar{
    overflow:hidden;
    background-color:#004d99;
}
.navBar a {
    float: left;
    color: white;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .navBar a:hover {
    background-color:#00376e;
  }
  .alignForm {
    float:left;
    display:inline;
    width:49%;
  }
  #locationButton {
    align:center;
  }
  #register {
      float:right;
  }