h1 {
    color: #4c4c4c;
    float: center;
    text-align: center;
}

h2 {
    font-size: 24px;
}

p {
    color: #979797;
    font-size: 14pt;
    padding-left: 2%;
    display:none;
}

select {
    width: 100%;
}

.navBar {
    overflow: hidden;
    background-color: #004d99;
}

.navBarItem {
    float: left;
    color: white;
    text-align: center;
    padding: 0.8% 16px;
    text-decoration: none;
    font-size: 18px;
}

#register {
    float: right;
    color: white;
    text-align: center;
    padding: 0.8% 16px;
    text-decoration: none;
    font-size: 18px;
}

.bottomBar {
    overflow: hidden;
    position: fixed;
    background-color: #004d99;
    height: 5%;
    width: 100%;
    bottom: 0;
    left: 0;
}

.alignForm {
    color: #979797;
    float: left;
    text-align: right;
    display: inline;
    margin-top: 5%;
    width: 49%;
    line-height: 2;
}

input, select {
    margin-top: 1.2ex;
    margin-bottom: 0.4ex;
}

.leftDiv {
    float: left;
    text-align: right;
    display: inline;
    padding-left: 30%;
    line-height: 220%;
}

.rightDiv {
    float: right;
    text-align: left;
    display: inline;
    padding-right: 30%;
}

.reportBody {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 6%;
    width: 80%;
    height: 60%;
    outline: 2px solid black;
}

#centerButton {
    text-align: center;
}

body{
    font-family: "Eras ITC", "Eras Light ITC",  sans-serif;
}